* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(120deg, #ceb45e, #eb947c);
  color: white;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #eb947c;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
form button:hover {
  color: white;
  background-color: #eb947c;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container .todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.todo li {
  flex: 1;
  margin: 0.5rem;
}
.trash-btn,
.complete-btn {
  color: white;
  background-color: #ff6f47;
  padding: 1rem;
  border: 1px solid white;
  cursor: pointer;
}
.complete-btn {
  background-color: rgb(49, 207, 49);
}
.fa-check,
.fa-trash {
  pointer-events: none;
}
.completed {
  text-decoration: line-through 5px #ff6f47;
  opacity: 60%;
}
.fall {
  transform: translateY(120px) rotateZ(20deg);
  opacity: 0%;
}
